/*
Theme Color 1: #ff6666;


Theme Color Dark: #ff1a1a;


*/


html, body { overflow-x: hidden; }

input {
    max-width: 300px;

}

li {
    color:#ff6666;
}
#titleName
{
    font-family:lobster;
    font-size:50px;
    color: black;
    margin-left:5px;

}


#headerImage
{
    border-radius:90px;
    width:200px;
    border-width:3px;
    border-style:solid;
    border-color:#ff1a1a;

}

#messageTextarea {
    max-width: 450px;
    max-height: 50px;
}

.jumbotron
{

    background-color: white;
    border-width:3px;
    font-family: lobster;
    color:#ff1a1a;
}

.icon
{
    width: 25px;
    top:0;
    margin-top:0px;
}

.pWell
{
    width:200px;
    height:200px;
}

.navbar-default .navbar-nav > .active{
    color: black;
    background:#ff9999;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:black;
    background:#ff9999;

}
.thumbnail
{
    width: auto;
    height: 180px;
    padding:auto;
}

.navbar {

    position:fixed;
    bottom: 0;
    width:100%;
    z-index: 3;
    margin-top: 20px;
    margin-bottom:0px;
}

.project-well {
    /* min-height:300px; */
}

.project-img {
    height:220px;

}

.about_well {
    border-color: #ff9999;
    background-color: white;
    width:500px;
}

.skill-icon{
    height:100px;
    width:100px;
}

#frameWell {
    position: relative;
}

#frameWell > .well{
    max-height: 250px;
    max-width: 200px;
    top:0;
    bottom:0;
    position: fixed;
}

#frameWell > img {
  /*  max-width: 425px; */

}

#skillList li {
    list-style-type: none;
}



